.writingCard {
  border-top: 1px solid black;
  padding: 24px 0 48px 0;
  width: 100%;
  font-family: "Lora", serif;
  overflow-y: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 960px;
    overflow-y: scroll;
  }

  &__text {
    padding: 0 12px;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 24px;

    &::after {
      padding-bottom: 4px;
      margin: auto;
      display: block;
      content: "";
      border-bottom: 1px solid gainsboro;
      transform: scaleX(0);
      transform-origin: 50% 50%;
      transition: transform 250ms ease-in-out;
    }
  }

  &__bold {
    font-weight: 700;
    margin-top: 24px;
    text-align: center;
  }

  &__publisher {
    display: block;
    text-align: center;
    margin-top: 12px;
    font-family: "Roboto", sans-serif;
  }

  &:hover {
    cursor: pointer;

    p::after {
      transform: scaleX(1);
      transform-origin: 50% 50%;
    }
  }
}

.image {
  filter: grayscale(100%);
  transition: all 0.5s ease;
  width: 100%;
  height: 240px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 480px;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    filter: grayscale(0);
  }
}
