.projectCard {
  border: 1px solid black;
  width: 192px;
  height: 192px;
  margin: 24px;
  border-radius: 8px;

  p {
    padding: 0 12px;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 360px;

    &::after {
      padding-bottom: 4px;
      margin: auto;
      display: block;
      content: "";
      border-bottom: 1px solid gainsboro;
      transform: scaleX(0);
      transform-origin: 50% 50%;
      transition: transform 250ms ease-in-out;
    }
  }

  img {
    object-fit: cover;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 114px;
    filter: grayscale(100);
    transition: all 0.5s ease;

    &:hover {
      filter: grayscale(0);
    }
  }

  &:hover {
    cursor: pointer;
    padding-bottom: 2px;

    p::after {
      transform: scaleX(1);
      transform-origin: 50% 50%;
    }
  }
}

.date {
  color: grey;
  text-align: center;
  margin-top: 2px;
  font-size: 10px;
  font-family: "Lora", serif;
}
